/* 
    Document   : monCSSaMoi
    Created on : Mar 19, 2012, 10:29:49 AM
    Author     : souf
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.ui-widget .ui-widget {
    font-size: 1em;
}
.ui-widget {
    font-size: 16px !important;
}
.ui-panel {
    padding: 0.2em;
}
.ui-corner-all {
    border-radius: 4px 4px 4px 4px;
}
.ui-button-text{
    border-color: transparent;
    border-style: solid;
}
.ui-button{
    width: 120px;
}